@using TinyShop.Shared.Layouts
@layout ProductsLayout
@page "/products/category/{categoryId:int}"
@inject IProductSqlDataService dataService
@using System.Text;
@using TinyShop.Extensions
@using TinyShop.Helpers
@inject NavigationManager NavigationManager
@inject IPurchaseSqlDataService purchaseDataService
@inject IUserUtilities userUtilities

<div class="ui grid">
    <div class="row">
        <div class="five wide column">
            <ProductFilterComponent FilterModel="@FilterModel"
                                    MetadataModel="@metadataModel"
                                    OnApplyFilter="ApplyFilterHandler"
                                    OnResetFilter="ResetFilterHandler" />
        </div>
        <div class="eleven wide column">
            <ProductListComponent Products="@products" OnAddToCart="AddToCartHandler" />
            <Paginator NumberOfPages="@numberOfPages" CurrentPage="@FilterModel.PageNumber" OnPageChanged="PageHasChanged" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int CategoryId { get; set; }

    private List<ProductModel> products;
    public ProductFilterModel FilterModel { get; set; }
    private ProductMetadataModel metadataModel;

    private int numberOfPages;

    protected override async Task OnParametersSetAsync()
    {
        InitFilterModel();
        await InitializeData();
    }


    private async Task InitializeData()
    {
        GetQueryStringValues();

        await Task.WhenAll(new List<Task> {
            LoadMetadata(),
            LoadProducts()
        });


        if (metadataModel is not null)
        {
            numberOfPages = (int)(Math.Ceiling((double)metadataModel.FoundRecords / FilterModel.RowsPerPage));
        }
    }

    private void InitFilterModel()
    {
        FilterModel = new ProductFilterModel
        {
            CategoryId = CategoryId,
            RowsPerPage = 3
        };
    }

    private async Task LoadMetadata()
    {
        metadataModel = await dataService.GetMetadata(FilterModel);
    }

    private async Task LoadProducts()
    {
        products = await dataService.GetFiltered(FilterModel);
    }


    void GetQueryStringValues()
    {
        if (NavigationManager.TryGetQueryString<int>("page", out int pageNumber))
        {
            FilterModel.PageNumber = pageNumber;
        }
        if (NavigationManager.TryGetQueryString<int>("minPrice", out int minPrice))
        {
            FilterModel.MinPrice = minPrice;
        }
        if (NavigationManager.TryGetQueryString<int>("maxPrice", out int maxPrice))
        {
            FilterModel.MaxPrice = maxPrice;
        }
    }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
    }

    private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        base.InvokeAsync(async () =>
        {
            await InitializeData();
            StateHasChanged();
        });

    }

    private async Task AddToCartHandler(int productId)
    {
        string userId = await userUtilities.GetLoggedInUserId();
        if (userId is not null)
        {
            await purchaseDataService.AddToCart(userId, productId, 1);
        }
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }

    private void PageHasChanged(int page)
    {
        StringBuilder sb = new StringBuilder();
        sb.Append($"/products/category/{CategoryId}?");
        sb.Append($"page={page}");
        if (FilterModel.MinPrice is not null)
        {
            sb.Append($"&minPrice={FilterModel.MinPrice}");
        }
        if (FilterModel.MaxPrice is not null)
        {
            sb.Append($"&maxPrice={FilterModel.MaxPrice}");
        }

        NavigationManager.NavigateTo(sb.ToString());
    }

    private void ApplyFilterHandler()
    {
        // Если был применен фильтр то переходим на 1ю страницу
        FilterModel.PageNumber = 1;
        PageHasChanged(FilterModel.PageNumber);
    }

    private void ResetFilterHandler()
    {
        InitFilterModel();
        PageHasChanged(FilterModel.PageNumber);
    }
}