@inject IStringLocalizer<App> Localizer
@inject NavigationManager NavigationManager
<AuthorizeView>
    <Authorized>
        <div class="ui small buttons">
            <button class="ui inverted basic button" style="margin-right: 5px;" @onclick="OnUserManageHandler">@Localizer["Hello"], @context.User.Identity.Name!</button>
            <form method="post" action="Identity/Account/LogOut">
                <button class="ui inverted basic button" type="submit"><i class="door open icon"></i>@Localizer["Logout"]</button>
            </form>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="ui small buttons">
            <button class="ui inverted basic button" style="margin-right: 5px;" @onclick="OnLoginHandler"><i class="sign in alternate icon"></i>@Localizer["Login"]</button>
            <button class="ui inverted basic button" @onclick="OnRegisterHandler"><i class="user plus icon"></i>@Localizer["Register"]</button>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void OnRegisterHandler()
    {
        NavigationManager.NavigateTo("Identity/Account/Register", true);
    }

    private void OnLoginHandler()
    {
        NavigationManager.NavigateTo("Identity/Account/Login", true);
    }

    private void OnLogOutHandler()
    {
        NavigationManager.NavigateTo("Identity/Account/LogOut", true);
    }

    private void OnUserManageHandler()
    {
        NavigationManager.NavigateTo("Identity/Account/Manage", true);
    }
}


