@using Microsoft.AspNetCore.Identity
@using TinyShop
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<App> Localizer
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="ui small buttons">
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="ui inverted basic button" style="margin-right: 5px;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@Localizer["Hello"], @UserManager.GetUserName(User)!</a>
        <a id="logout" class="ui inverted basic button" asp-area="Identity" asp-page="/Account/LogOut" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })"><i class="door open icon"></i>@Localizer["Logout"]</a>
    }
    else
    {
        <a class="ui inverted basic button" style="margin-right: 5px;" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="sign in alternate icon"></i>@Localizer["Login"]</a>
        <a class="ui inverted basic button" id="register" asp-area="Identity" asp-page="/Account/Register"><i class="user plus icon"></i>@Localizer["Register"]</a>
    }
</div>