@page "/categories/{categoryId:int}/products"
@layout ProductsLayout
@using AutoMapper
@using TinyShop.Web.CustomTypes
@using TinyShop.Web.Models
@using TinyShop.Web.Services
@using TinyShop.Web.Pages.Shared
@using TinyShop.Web.Pages.Shared.Layouts
@using System.Text;
@using TinyShop.Web.Extensions
@using TinyShop.Web.Pages.Products.ProductFilter
@using System.Globalization
@inject IProductService productService
@inject NavigationManager NavigationManager
@inject IUserService userService
@inject IStringLocalizer<App> Localizer
@inject IMapper mapper
@inject IJSRuntime JSRuntime
@implements IDisposable


<div class="ui grid">
    <div class="row">
        <div class="four wide column">
        </div>
        <div class="twelve wide column">
            <SortPannelComponent MetadataModel="@ProductsInfo.Metadata"
                                 FilterModel="@FilterModel"
                                 OnSortChange="() => PageHasChanged()" />
        </div>
    </div>
    <div class="row">
        <div class="four wide column">
            <CategoryMenu AccordionCssString="categories-menu" />
            @if (readyToRender)
            {
                <ProductFilterComponent FilterModel="@FilterModel"
                                    OnApplyFilter="() => PageHasChanged()"
                                    OnResetFilter="() => PageHasChanged()" />
            }
        </div>
        <div class="twelve wide column">
            <ProductListComponent Products="@ProductsInfo.Products" />
            <Paginator NumberOfPages="@numberOfPages" CurrentPage="@FilterModel.PageNumber" OnPageChanged="PageHasChanged" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int CategoryId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public int? PageNumber { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public int? OrderBy { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public int? SortOrder { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public int? RowsPerPage { get; set; }

    public ProductsInfoModel ProductsInfo { get; set; } = new();

    public ProductFilterModel FilterModel { get; set; } = new();

    private IJSObjectReference? module;

    private int numberOfPages;
    private bool readyToRender = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", JsInteropConstants.JsScriptFilePath);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
        InitFilterModel();
        await InitializeData();
    }

    private void InitFilterModel()
    {
        FilterModel.CategoryId = CategoryId;
        FilterModel.UserSettings = new UserSettings { PreferedLanguageCode = CultureInfo.CurrentCulture.TwoLetterISOLanguageName };
        FilterModel.PageNumber = PageNumber ?? 1;
        FilterModel.OrderBy = OrderBy is null ? OrderByEnum.ProductName : (OrderByEnum)OrderBy;
        FilterModel.SortOrder = SortOrder is null ? SortOrderEnum.ASC : (SortOrderEnum)SortOrder;
        FilterModel.RowsPerPage = RowsPerPage is null ? RowsPerPageEnum._25 : (RowsPerPageEnum)RowsPerPage;
    }


    private async Task InitializeData()
    {
        try
        {
            ProductsInfo = await productService.GetProductsAndInfo(FilterModel);
            if (ProductsInfo is not null)
            {
                mapper.Map<ProductMetadataModel, ProductFilterModel>(ProductsInfo.Metadata, FilterModel);
                numberOfPages = (int)(Math.Ceiling((double)ProductsInfo.Metadata.FoundRecords / (int)FilterModel.RowsPerPage));
                readyToRender = true;
            }
        }
        catch
        {
            if (module is not null)
            {
                await module.InvokeVoidAsync(
                JsInteropConstants.ShowToastFuncName, "Error", $"Something bad happened", "red", 0);
            }
        }
    }

    private async Task FilterProducts()
    {
        try
        {
            ProductsInfo = await productService.FilterProducts(FilterModel);
            if (ProductsInfo is not null)
            {
                numberOfPages = (int)(Math.Ceiling((double)ProductsInfo.Metadata.FoundRecords / (int)FilterModel.RowsPerPage));
            }
        }
        catch
        {
            if (module is not null)
            {
                await module.InvokeVoidAsync(
                JsInteropConstants.ShowToastFuncName, "Error", $"Something bad happened", "red", 0);
            }
        }
    }


    private void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        base.InvokeAsync(async () =>
        {
            await FilterProducts();
            StateHasChanged();
        });
    }

    void IDisposable.Dispose()
    {
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }

    private void PageHasChanged()
    {
        FilterModel.PageNumber = 1;
        var address = NavigationManager.GetUriWithQueryParameters(
        new Dictionary<string, object?>
                                            {
                                { nameof(PageNumber), FilterModel.PageNumber },
                                { nameof(OrderBy), (int)FilterModel.OrderBy },
                                { nameof(SortOrder), (int)FilterModel.SortOrder },
                                { nameof(RowsPerPage), (int)FilterModel.RowsPerPage },
                                            });
        NavigationManager.NavigateTo(address);
    }
}